
.image-container {
    width: 100%;
}

img {
    width: 100%;
}

.buttons-container {
    margin-top: 10px;
}

button {
    margin-right: 10px;
    margin-bottom: 4px;
}

mat-select,mat-form-field {
    width: 100%;
}
