<div class="picture-getter">
    <biometrics-camera #camera (pictureCaptured)="onPictureCaptured($event.detail)" *ngIf="cameraOpen">
        <div class="dni-overlay"></div>
        <div class="dni-label-overlay">Encuadre su <b>DNI</b> dentro del marco y sáquele una foto</div>
    </biometrics-camera>
    <div *ngIf="pictureUrl != null" class="image-container">
        <img [src]="pictureUrl">
        <button *ngIf="pictureUrl != null" mat-button mat-raised-button (click)="rotateImage(90)">↻</button>
        <button *ngIf="pictureUrl != null" mat-button mat-raised-button (click)="rotateImage(-90)">↺</button>
    </div>
    <div class="buttons-container">
        <button mat-button mat-raised-button color="primary" (click)="openCamera()">
            <ng-container *ngIf="pictureUrl == null">Tomar foto</ng-container>
            <ng-container *ngIf="pictureUrl != null">Volver a tomar la foto</ng-container>
        </button>
    </div>
</div>
