<mat-card>
    <mat-card-header>
        <mat-card-title>Configuración</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Server URL</mat-label>
            <input matInput [(ngModel)]="biometricsUrl">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Server Api Key</mat-label>
            <textarea rows="8" matInput [(ngModel)]="biometricsApiKey"></textarea>
        </mat-form-field>
        <button mat-button mat-raised-button color="primary" (click)="saveChanges()">Guardar</button>
        <button mat-button mat-raised-button (click)="resetChanges()">Reestablecer valores</button>
    </mat-card-content>
</mat-card>
