<mat-card>
    <mat-card-header>
        <mat-card-title>Identificador de personas</mat-card-title>
        <mat-card-subtitle>Comparación de prueba de vida vs documento</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-vertical-stepper>
            <mat-step label="Prueba de vida" [completed]="livenessPicture">
                <div *ngIf="livenessPicture" class="image-container">
                    <img [src]="livenessPicture">
                </div>
                <div class="buttons-container">
                    <button mat-button mat-raised-button *ngIf="!livenessSessionRunning" (click)="startLivenessSession()">
                        <ng-container *ngIf="!livenessPicture">Realizar prueba de vida</ng-container>
                        <ng-container *ngIf="livenessPicture">Volver a realizar prueba de vida</ng-container>
                    </button>
                </div>
                <button *ngIf="livenessSessionRunning" class="liveness-close-button" (click)="stopLivenessSession()">x</button>
                <biometrics-liveness *ngIf="livenessSessionRunning && livenessType == 'active'" (sessionSucceded)="onLivenessCompleted($event.detail)" [serverUrl]="biometricsUrl" [apiKey]="biometricsApiKey"></biometrics-liveness>
                <biometrics-liveness-passive *ngIf="livenessSessionRunning && livenessType == 'passive'" (livenessVerificationComplete)="onPassiveLivenessCompleted($event.detail)" [serverUrl]="biometricsUrl" [apiKey]="biometricsApiKey"></biometrics-liveness-passive>
            </mat-step>
            <mat-step label="Foto del frente documento" [completed]="documentFrontPicture">
                <app-dni-picture-getter (dniCaptured)="onDniFrontCaptured($event)"></app-dni-picture-getter>
            </mat-step>
            <mat-step label="Foto del dorso documento" [completed]="documentBackPicture">
                <app-dni-picture-getter (dniCaptured)="onDniBackCaptured($event)"></app-dni-picture-getter>
            </mat-step>
        </mat-vertical-stepper>
        <div class="card-footer">
            <button mat-button mat-raised-button color="primary" (click)="verify()" [disabled]="!livenessPicture || documentFrontPicture == null || documentBackPicture == null || verifying == true">
                <ng-container *ngIf="verifying == false && !verificationResults">Verificar identidad</ng-container>
                <ng-container *ngIf="verifying == false && verificationResults">Verificar identidad nuevamente</ng-container>
                <ng-container *ngIf="verifying == true">Verificando ...</ng-container>
            </button>
        </div>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="verificationError != null || verificationResults != null" class="results-card">
    <mat-card-header>
        <mat-card-title>Resultado biométrico</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="results-section">
            <div *ngIf="verificationError != null" class="results-error">
                {{ verificationError }}
            </div>
            <div class="verification-result-item">
                <div class="verification-label">Match</div>
                <div *ngIf="verificationResults.data && verificationResults.data.match" class="verification-value verification-value-success">POSITIVO</div>
                <div *ngIf="!verificationResults.data || !verificationResults.data.match" class="verification-value verification-value-danger">NEGATIVO</div>
            </div>
            <div *ngIf="verificationResults.data && verificationResults.data.similarity" class="verification-result-item">
                <div class="verification-label">Similaridad</div>
                <div class="verification-value verification-value-success">{{ verificationResults.data.similarity }}</div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="verificationError == null && verificationResults != null && verificationDniResults && verificationDniResults.data" class="results-card">
    <mat-card-header>
        <mat-card-title>Datos del documento</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="results-section">
            <div *ngFor="let dataItem of verificationDniResults.data.information | keyvalue" class="verification-result-item">
                <div class="verification-label">{{ formatDocumentItemKey(dataItem) }}</div>
                <div class="verification-value verification-value-success">{{ formatDocumentItem(dataItem) }}</div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
