<mat-card>
    <mat-card-header>
        <mat-card-title>Identificador de personas</mat-card-title>
        <mat-card-subtitle>Comparación de prueba de vida vs documento</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <mat-vertical-stepper>
            <mat-step label="Prueba de vida">
                <div *ngIf="livenessPicture" class="image-container">
                    <img [src]="livenessPicture">
                </div>
                <button *ngIf="livenessSessionRunning" class="liveness-close-button" (click)="stopLivenessSession()">x</button>
                <biometrics-liveness *ngIf="livenessSessionRunning && livenessType == 'active'" (sessionCompleted)="onLivenessCompleted($event.detail)" [serverUrl]="biometricsUrl" [apiKey]="biometricsApiKey"></biometrics-liveness>
                <biometrics-liveness-passive *ngIf="livenessSessionRunning && livenessType == 'passive'" (livenessVerificationComplete)="onPassiveLivenessCompleted($event.detail)" [serverUrl]="biometricsUrl" [apiKey]="biometricsApiKey"></biometrics-liveness-passive>
                <div class="buttons-container">
                    <mat-form-field appearance="fill">
                        <mat-label>Tipo de prueba de vida</mat-label>
                        <mat-select [(ngModel)]="livenessType">
                            <mat-option value="active">Activa</mat-option>
                            <mat-option value="passive">Pasiva</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button mat-button mat-raised-button color="primary" *ngIf="!livenessSessionRunning" (click)="startLivenessSession()">
                        <ng-container *ngIf="!livenessPicture">Realizar prueba de vida</ng-container>
                        <ng-container *ngIf="livenessPicture">Volver a realizar prueba de vida</ng-container>
                    </button>
                </div>
            </mat-step>
            <mat-step label="Foto del frente documento">
                <app-dni-picture-getter (dniCaptured)="onDniFrontCaptured($event)"></app-dni-picture-getter>
            </mat-step>
            <mat-step label="Foto del dorso documento">
                <app-dni-picture-getter (dniCaptured)="onDniBackCaptured($event)"></app-dni-picture-getter>
            </mat-step>
            <mat-step label="Verificación">
                <button mat-button mat-raised-button color="primary" (click)="verify()" [disabled]="!livenessPicture || documentFrontPicture == null || documentBackPicture == null || verifying == true">
                    <ng-container *ngIf="verifying == false && !verificationResults">Verificar identidad</ng-container>
                    <ng-container *ngIf="verifying == false && verificationResults">Verificar identidad nuevamente</ng-container>
                    <ng-container *ngIf="verifying == true">Verificando ...</ng-container>
                </button>
            </mat-step>
        </mat-vertical-stepper>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="verificationError != null || verificationResults != null" class="results-card">
    <mat-card-header>
        <mat-card-title>Identificación</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="results-section">
            <div *ngIf="verificationError != null" class="results-error">
                {{ verificationError }}
            </div>
            <mat-expansion-panel *ngIf="verificationResults" expanded=true>
                <mat-expansion-panel-header>
                    <mat-panel-title>Resultado</mat-panel-title>
                </mat-expansion-panel-header>
                <div class="verification-result-item">
                    <div class="verification-label">Match</div>
                    <div *ngIf="verificationResults.data && verificationResults.data.match" class="verification-value verification-value-success">POSITIVO</div>
                    <div *ngIf="!verificationResults.data || !verificationResults.data.match" class="verification-value verification-value-danger">NEGATIVO</div>
                </div>
                <div *ngIf="verificationResults.data && verificationResults.data.similarity" class="verification-result-item">
                    <div class="verification-label">Similaridad</div>
                    <div class="verification-value verification-value-success">{{ verificationResults.data.similarity }}</div>
                </div>
            </mat-expansion-panel>
            <mat-expansion-panel *ngIf="verificationDniResults && verificationDniResults.data">
                <mat-expansion-panel-header>
                    <mat-panel-title>Datos del documento</mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngFor="let dataItem of verificationDniResults.data.information | keyvalue" class="verification-result-item">
                    <div class="verification-label">{{ dataItem.key | titlecase }}</div>
                    <div class="verification-value verification-value-success">{{ formatDocumentItem(dataItem) }}</div>
                </div>
            </mat-expansion-panel>
        </div>
    </mat-card-content>
</mat-card>
