<mat-toolbar color="primary">
    Biometrics - DEMO<span class="version">{{ version }}</span>
    <span class="fill-space"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/identificator" routerLinkActive="active">Identificador de personas</button>
        <button mat-menu-item routerLink="/liveness" routerLinkActive="active">Prueba de vida</button>
        <button mat-menu-item routerLink="/liveness3d" routerLinkActive="active">Prueba de vida 3D</button>
        <button mat-menu-item routerLink="/document-scanner" routerLinkActive="active">Lector de documentos</button>
        <hr>
        <button mat-menu-item routerLink="/configuration" routerLinkActive="active">Configuración</button>
    </mat-menu>
</mat-toolbar>
<div class="main-container container">
    <router-outlet></router-outlet>
</div>
