<mat-card>
    <mat-card-header>
        <mat-card-title>Prueba de vida</mat-card-title>
        <mat-card-subtitle>Detección de prueba de vida</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <button *ngIf="livenessSessionRunning" class="liveness-close-button" (click)="stopLivenessSession()">x</button>
        <biometrics-liveness *ngIf="livenessSessionRunning" (sessionSucceded)="onLivenessCompleted($event.detail)" [maxInstructions]="livenessInstructionsCount" [timeout]="livenessTimeoutSeconds" [instructionTimeout]="livenessInstructionTimeoutSeconds" [serverUrl]="biometricsUrl" [apiKey]="biometricsApiKey" [cameraFacingMode]="cameraFacingMode"></biometrics-liveness>
        <mat-form-field>
            <mat-label>Cantidad de instrucciones</mat-label>
            <mat-select [(ngModel)]="livenessInstructionsCount">
                <mat-option *ngFor="let i of [4,5,6,7,8]" [value]="i">
                    {{ i }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tiempo de timeout de sesión (segundos)</mat-label>
            <mat-select [(ngModel)]="livenessTimeoutSeconds">
                <mat-option *ngFor="let i of [30,35,40,45,50,55,60,65,70,75,80,85,90,95,100]" [value]="i">
                    {{ i }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tiempo de timeout por instrucción (segundos)</mat-label>
            <mat-select [(ngModel)]="livenessInstructionTimeoutSeconds">
                <mat-option *ngFor="let i of [5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]" [value]="i">
                    {{ i }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Cámara</mat-label>
            <mat-select [(ngModel)]="cameraFacingMode">
                <mat-option value="user">Delantera</mat-option>
                <mat-option value="environment">Trasera</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button mat-raised-button color="primary" (click)="startLivenessSession()">Realizar prueba de vida</button>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="livenessPicture !== null" class="results-card">
    <mat-card-header>
        <mat-card-title>Imagen de liveness</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="liveness-image-section" *ngIf="livenessPicture !== null">
            <img [src]="livenessPicture">
        </div>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="livenessInstructionPictures.length > 0" class="results-card">
    <mat-card-header>
        <mat-card-title>Imagenes de instrucciones</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="images-section" *ngIf="livenessInstructionPictures.length > 0">
            <div *ngFor="let picture of livenessInstructionPictures" class="image-container">
                <img [src]="picture">
            </div>
        </div>
    </mat-card-content>
</mat-card>
