<mat-card>
    <mat-card-header>
        <mat-card-title>Prueba de vida 3D</mat-card-title>
        <mat-card-subtitle>Detección de prueba de vida 3D</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <button *ngIf="livenessSessionRunning" class="liveness-close-button" (click)="stopLivenessSession()">x</button>
        <biometrics-liveness3d *ngIf="livenessSessionRunning" (sessionSucceded)="onLivenessCompleted($event.detail)" [serverUrl]="biometricsUrl" [apiKey]="biometricsApiKey"></biometrics-liveness3d>
        <button mat-button mat-raised-button color="primary" (click)="startLivenessSession()">Realizar prueba de vida</button>
    </mat-card-content>
</mat-card>

<mat-card *ngIf="livenessVerificationCompleted" class="results-card">
    <mat-card-header>
        <mat-card-title>Resultado de verificación</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        Persona viva verificada:
        <span class="liveness-verification liveness-verification-success" *ngIf="livenessVerified">VERDADERO</span>
        <span class="liveness-verification liveness-verification-fail" *ngIf="!livenessVerified">FALSO</span>
        <div class="image-section">
            <img [src]="livenessPicture">
        </div>
    </mat-card-content>
</mat-card>
